.color-status-2{
    background-color: #f0ad4e;
    border-color: #eea236;
}
.color-status-2:hover {
    background-color: #ec971f;
    border-color: #d58512;
}

.color-status-3{
    background-color: #d9534f;
    border-color: #d43f3a;
}
.color-status-3:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

BODY {
    /*background-color: #d3dfe5;*/
    background-image: url("../img/bg_pattern_1.png");
}

#menu {
    padding:5px;
}

.nav-xs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}


.flash_errors {
    background-color: red;
    color: white;
}

flash_success {
    background-color: green;
    color: white;
}

@media(max-width:1225px){
    body{
        font-size: 200%;
    }
}

.color-pile {
    background-color: #000;
}

.color-poste-1 {
    background-color: #001f3f;
}

.color-poste-2 {
    background-color: #0074D9;
}

.color-poste-3 {
    background-color: #7FDBFF;
}

.color-poste-4 {
    background-color: #F012BE;
}


.color-poste-5 {
    background-color: #3D9970;
}


.color-poste-6 {
    background-color: #2ECC40;
}


.color-poste-7 {
    background-color: #01FF70;
}


.color-poste-8 {
    background-color: #FFDC00;
}


.color-poste-9 {
    background-color: #FF851B;
}


.color-poste-10 {
    background-color: #85144b;
}

.display-inline{
    display:inline;
}
.icon-autorefresh {
    font-size:13px;
}

.modif_pile.open .dropdown-menu{
    height: 250px;
    overflow-x: auto;
}