
BODY {
    /*background-color: #d3dfe5;*/
    background-image: url("../img/bg_pattern_1.png");
}

#menu {
    padding:5px;
}

.nav-xs > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}


.flash_errors {
    background-color: red;
    color: white;
}

flash_success {
    background-color: green;
    color: white;
}