a {
    -webkit-touch-callout: none !important; 
}

.liste_poste > LI {
    text-align: center;
}

.liste_poste > LI.proco_pile_top {
    font-size: 1.4em;
    font-weight: bold;
}

.liste_poste > LI.proco_pile_top SPAN {
    font-size: 0.8em;
    font-weight: normal;
}

.liste_poste > LI.proco_pile_top SPAN {
    display:block;
}

.liste_poste {
    background-color: #d9edf7;
}

.proco_pile_waiting {
    padding: 5px;
}

#liste_poste_1 .label-poste {
    background-color: #215c1a;
}

#liste_poste_2 .label-poste {
    background-color: #557e45;
}

#liste_poste_3 .label-poste {
    background-color: #ab6500;
}

#liste_poste_4 .label-poste {
    background-color: #d55813;
}

.produit_0 {
    float:left;
/*    margin-left: 10px;*/
}

#pile_globale {
    width: 600px;
}

#pile_globale LI {
     width:200px;
     float:left;
}

.produit_1 {
/*    float:right;*/
/*    margin-left: 30px;*/
}

.produit_2 {
/*    float:left;*/
/*    margin-left: 50px;*/
}

.colonne_pile {
    background-color: white;
    padding-top:15px;
}
 
.flash_success {
    height: 20px;
}

.modif_status, .modif_pile{
    display: inline;
}
    
.status_1{
    color: cornflowerblue;
}    
.status_2{
    color: darkmagenta;
}    
.status_3{
    color: firebrick;
}
    
.colonne_pile li, .proco_pile_waiting {
    cursor: pointer;
}

.colonne_pile li:hover ,.proco_pile_waiting:hover {
    background-color: antiquewhite;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
    
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}